//colors

//text
$veryDarkBlue: hsl(238, 29%, 16%);
$softRed:  hsl(14, 88%, 65%);

//gradient 

$softViolet: hsl(273, 75%, 66%);
$softBlue:hsl(240, 73%, 65%);

//text

$VdarkGrayBlue:hsl(237, 12%, 33%);
$darkGrayBlue:hsl(240, 6%, 50%);

//dividers

$lightGrayBlue:hsl(240, 5%, 91%);